.header{
    width: 100%;
    height: 100%;
    line-height: 70px;
}
.nav__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    
}
.logo img{
    width: 35px;
    height: 35px;
}
.logo h1{
    font-size:15px;
    font-weight: 700;
    color: var(--primary-color);
}
.menu{
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
    margin-bottom: 0;
}
.nav__item {
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;

}
.nav__icons{
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}
.nav__icons span i{
    font-size: 1.6rem;
    color: var(--primary-color);
    cursor: pointer;
}
.cart__icon, .fav__icon{
    position: relative;

}

.badge{
    position: absolute;
    top: 20%;
    right: -10%;
    width: 15px;
    height: 15px;
    content: "";
    background-color: var(--primary-color);
    color: white;
    border-radius:50px;
    font-style: 0.8rem;
    font-weight: 600;
    z-index: 10;
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 0.7rem;
}

.nav__icons .profile img{
    width:40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}
.nav__icons .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav__icons .profile .profile__actions{
    top: 100%;
    left: 0;
    width: 150px;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    align-items:center;
    flex-direction: column;
    background: var(--card-bg-01);
    line-height: 30px;
    display: block;
    cursor: pointer;
}
.show__profileActions{
    display:none;
}
.mobile__menu{
    display: none;
}
.nav__active{
    font-weight: 700 !important;
}
.sticky__header{
    width: 100%;
    height: 70px;
    position: sticky;
    line-height: 70px;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 3px 3px 8px 3px #ddd;
    background: var(--card-bg-01);
}